<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jh.dao.local.PayTrdOrderDao" >
  <resultMap id="BaseResultMap" type="jh.model.PayTrdOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="service" property="service" jdbcType="VARCHAR" />
    <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
    <result column="outlet_no" property="outletNo" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="create_ip" property="createIp" jdbcType="VARCHAR" />
    <result column="out_notify_url" property="outNotifyUrl" jdbcType="VARCHAR" />
    <result column="sub_openid" property="subOpenid" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
    <result column="authcode" property="authcode" jdbcType="VARCHAR" />
    <result column="nonce_str" property="nonceStr" jdbcType="VARCHAR" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, service, merchant_no, outlet_no, total, `name`, remark, out_trade_no, create_ip, 
    out_notify_url, sub_openid, buyer_id, authcode, nonce_str, sign_type, sign, `status`, 
    create_time, update_time, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pay_trd_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pay_trd_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="jh.model.PayTrdOrder" >
    insert into pay_trd_order (id, service, merchant_no, 
      outlet_no, total, `name`, 
      remark, out_trade_no, create_ip, 
      out_notify_url, sub_openid, buyer_id, 
      authcode, nonce_str, sign_type, 
      sign, `status`, create_time, 
      update_time, version)
    values (#{id,jdbcType=BIGINT}, #{service,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, 
      #{outletNo,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{createIp,jdbcType=VARCHAR}, 
      #{outNotifyUrl,jdbcType=VARCHAR}, #{subOpenid,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, 
      #{authcode,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, #{signType,jdbcType=VARCHAR}, 
      #{sign,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="jh.model.PayTrdOrder" >
    insert into pay_trd_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="merchantNo != null" >
        merchant_no,
      </if>
      <if test="outletNo != null" >
        outlet_no,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="createIp != null" >
        create_ip,
      </if>
      <if test="outNotifyUrl != null" >
        out_notify_url,
      </if>
      <if test="subOpenid != null" >
        sub_openid,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="authcode != null" >
        authcode,
      </if>
      <if test="nonceStr != null" >
        nonce_str,
      </if>
      <if test="signType != null" >
        sign_type,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="service != null" >
        #{service,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="outletNo != null" >
        #{outletNo,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="createIp != null" >
        #{createIp,jdbcType=VARCHAR},
      </if>
      <if test="outNotifyUrl != null" >
        #{outNotifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="subOpenid != null" >
        #{subOpenid,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="authcode != null" >
        #{authcode,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jh.model.PayTrdOrder" >
    update pay_trd_order
    <set >
      <if test="service != null" >
        service = #{service,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="outletNo != null" >
        outlet_no = #{outletNo,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="createIp != null" >
        create_ip = #{createIp,jdbcType=VARCHAR},
      </if>
      <if test="outNotifyUrl != null" >
        out_notify_url = #{outNotifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="subOpenid != null" >
        sub_openid = #{subOpenid,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="authcode != null" >
        authcode = #{authcode,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        sign_type = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="jh.model.PayTrdOrder" >
    update pay_trd_order
    set service = #{service,jdbcType=VARCHAR},
      merchant_no = #{merchantNo,jdbcType=VARCHAR},
      outlet_no = #{outletNo,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      create_ip = #{createIp,jdbcType=VARCHAR},
      out_notify_url = #{outNotifyUrl,jdbcType=VARCHAR},
      sub_openid = #{subOpenid,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      authcode = #{authcode,jdbcType=VARCHAR},
      nonce_str = #{nonceStr,jdbcType=VARCHAR},
      sign_type = #{signType,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateStatusById">
    update pay_trd_order
    set status = #{targetStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
    and status = #{fromStatus,jdbcType=INTEGER}
  </update>

  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from pay_trd_order
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </select>
</mapper>