#set($layout="/layout/empty.vm")
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>威付宝支付系统---用户管理中心</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="#springUrl('/Public/Front/css/bootstrap.min.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/font-awesome.min.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/animate.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/Public/User/css/style.css')" rel="stylesheet">
    <link rel="stylesheet" href="#springUrl('/Public/Front/js/plugins/layui/css/layui.css')">
    <style>
        .layui-form-label {width:110px;padding:4px}
        .layui-form-item .layui-form-checkbox[lay-skin="primary"]{margin-top:0;}
        .layui-form-switch {width:54px;margin-top:0px;}

    </style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>申请结算</h5>
                </div>
                <div class="ibox-content">
                    <blockquote class="layui-elem-quote">
                        <span class="text-danger">可提现：0.01 元</span>
                        <span style="margin:0 30px;" class="text-muted">冻结：0.07 元</span>
                        <span class="text-danger">累计结算：1000 元</span>
                        <span class="text-warning">结算：T+1</span>
                    </blockquote>

                    <form class="layui-form" action="" autocomplete="off" id="calculate">
                        <input type="hidden" name="userid" value="13">
                        <input type="hidden" name="balance" id="balance" value="0.01">
                        <input type="hidden" name="tktype" id="tktype" value="1">
                        <input type="hidden" name="feilv" id="feilv" value="1">
                        <div class="layui-form-item">
                            <label class="layui-form-label">提现金额：</label>
                            <div class="layui-input-block">
                                <input type="number" name="u[money]" lay-verify="required" id="money" min="100" step="100"
                                       autocomplete="off" onchange="calculate_rate(13)"
                                       placeholder="0.00" class="layui-input" value=""
                                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                                <div class="layui-form-mid layui-word-aux">注：提现金额最小100元，含体现手续费,直接在金额中扣除.</div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">到账金额：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="u[amount]" lay-verify="" id="amount" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">手续费：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="u[brokerage]" id="brokerage" lay-verify="" readonly autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">选择结算银行卡</label>
                            <div class="layui-input-block">
                                <select name="u[bank]" lay-filter="">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">支付密码：</label>
                            <div class="layui-input-inline">
                                <input type="password" name="u[password]" lay-verify="pass" placeholder="请输入支付密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="save">提交申请</button>
                                <button type="reset" class="layui-btn reset-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                        <input type="hidden" name="__hash__" value="8cb22f9cae453d0ffa5aad7021494d4b_391a96fb7f1fcd43bf76058253244afa" /></form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Public/Front/js/jquery.min.js"></script>
<script src="/Public/Front/js/bootstrap.min.js"></script>
<script src="/Public/Front/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/Public/Front/js/content.js"></script>
<script src="/Public/Front/js/plugins/layui/layui.js" charset="utf-8"></script>
<script src="/Public/Front/js/x-layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layer','element'], function(){
        var layer = layui.layer //弹层
                ,form = layui.form
                ,element = layui.element; //元素操作

        //监听提交
        form.on('submit(save)', function(data){
            $.ajax({
                url:"/User_Withdrawal_saveClearing.html",
                type:"post",
                data:$('#calculate').serialize(),
                success:function(res){
                    if(res.status){
                        layer.alert("申请成功", {icon: 6},function () {
                            location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    }else{
                        layer.alert(res.msg ? res.msg : "申请失败", {icon: 5},function () {
                            location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    }
                }
            });
            return false;
        });
    });

    /*手续费计算*/
    function calculate_rate(userid){
        var type = $('#tktype').val()
                ,money = $('#money').val()
                ,feilv = $('#feilv').val()
                ,balance = $('#balance').val();
        $.ajax({
            url:"/User_Withdrawal_calculaterate.html",
            type:'post',
            data:'userid='+userid+'&money='+money+'&balance='+balance+"&tktype="+type+'&feilv='+feilv,
            success:function(res){
                if(res.status){
                    $('#amount').val(res.data.amount);
                    $('#brokerage').val(res.data.brokerage);
                }else{
                    layer.alert(res.msg ? res.msg :"操作失败", {icon: 5},function () {
                        location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                }
            }
        });
    }
</script>
</body>
</html>