.sidebar-collapse {
  background-color: #3c4043;
}
.sidebar-collapse #side-menu > li {
  border-bottom: 1px solid #000;
}
.sidebar-collapse #side-menu > li a {
  padding: 0;
  height: 56px;
  line-height: 56px;
  padding-left: 54px;
  font-size: 14px;
  color: #999999;
}
.sidebar-collapse #side-menu > li a:hover {
  background-color: #37c1f0;
  color: #fff;
}
.sidebar-collapse #side-menu > li a:focus {
  background-color: #3c4043;
  color: #fff;
}
.sidebar-collapse #side-menu > li .nav-second-level {
  background-color: #22252a;
}
.sidebar-collapse #side-menu > li .nav-second-level > li a {
  height: 36px;
  line-height: 36px;
  padding: 0;
  padding-left: 86px;
}
.sidebar-collapse #side-menu > li .nav-second-level > li a:focus {
  background-color: #22252a;
}
.sidebar-collapse #side-menu > li.active {
  border-left: 0px;
  background: #3c4043 !important;
}
.sidebar-collapse #side-menu > li.active > a {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .sidebar-collapse {
    background-color: #3c4043;
  }
  .sidebar-collapse #side-menu > li a {
    padding-left: 27px;
  }
  .sidebar-collapse #side-menu > li .nav-second-level > li a {
    padding-left: 53px;
  }
}
