#head-bar {
  height: 100px;
  background-color: #fff;
  line-height: 100px;
  position: relative;
  box-shadow: 1px 1px 20px 2px #999999;
}
#head-bar .head-left {
  height: 100px;
}
#head-bar .head-left img {
  margin-left: 40px;
}
#head-bar .head-left span {
  font-size: 24px;
  color: #333333;
  margin-left: 45px;
}
#head-bar .head-right > div {
  float: right;
}
#head-bar .head-right > div a {
  font-size: 14px;
  color: #666666;
}
#head-bar .head-right .userimg {
  margin-left: 20px;
}
#head-bar .head-right .userimg span img {
  width: 64px;
}
#head-bar .head-right .dropdown {
  margin-left: 10px;
}
#head-bar .head-right .dropdown a .m-t-xs {
  height: 40px;
  line-height: 20px;
  margin-top: 30px;
}
#head-bar .head-right .dropdown a .text-muted {
  height: 20px;
  line-height: 20px;
  color: #0048a2;
}
#head-bar .head-right .loginout {
  margin-right: 40px;
  margin-left: 40px;
  height: 100px;
}
#head-bar .head-right .loginout a {
  width: 60px;
  height: 35px;
  border: 1px solid #999999;
  display: inline-block;
  margin-top: 32.5px;
  line-height: 33px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #head-bar {
    height: 60px;
  }
  #head-bar .head-left {
    height: 60px;
    line-height: 60px;
  }
  #head-bar .head-left img {
    width: 100px;
    height: 30px;
    margin-left: 20px;
  }
  #head-bar .head-right .loginout {
    height: 40px;
    margin-left: 60px;
    margin-top: 12.5px;
    line-height: 40px;
  }
  #head-bar .head-right .loginout a {
    margin-top: 0px;
    line-height: 0px;
    line-height: 35px;
  }
}