.navbar-static-side {
  background-color: #fff;
  margin-top: 30px;
}
.navbar-static-side .sidebar-collapse {
  padding-left: 10px;
}
.navbar-static-side .sidebar-collapse > .nav > li:first-of-type {
  border: none;
}
.navbar-static-side .sidebar-collapse > .nav > li {
  border: 1px solid #dcdcdc;
  border-bottom: none;
}
.navbar-static-side .sidebar-collapse > .nav > li a {
  padding: 0;
  padding-left: 54px;
  height: 40px;
  line-height: 40px;
  color: #999999;
}
.navbar-static-side .sidebar-collapse > .nav > li a:hover {
  background-color: #37c1f0;
  color: #fff;
}
.navbar-static-side .sidebar-collapse > .nav > li a:focus {
  background-color: #37c1f0;
  color: #fff;
}
.navbar-static-side .sidebar-collapse > .nav > li .nav li a {
  padding-left: 78px;
}
.navbar-static-side .sidebar-collapse > .nav > li:last-of-type {
  border-bottom: 1px solid #dcdcdc;
}
.navbar-static-side .sidebar-collapse > .nav .active {
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .navbar-static-side .sidebar-collapse {
    padding-left: 0px;
  }
  .navbar-static-side .sidebar-collapse .nav li a {
    padding-left: 30px;
  }
  .navbar-static-side .sidebar-collapse .nav li .logo-element {
    color: #333333;
    height: 40px;
    padding: 0;
    text-align: center;
    line-height: 40px;
  }
}
