.wrapper-content {
  padding-top: 30px;
}
.wrapper-content .layui-btn {
  background-color: #37c1f0 !important;
}
.wrapper-content .reset-btn {
  background-color: transparent !important;
}
.wrapper-content .tip {
  margin-top: 21px;
  border-left: 3px solid #37c1f0;
  padding-left: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333333;
}
.wrapper-content .tip:first-of-type {
  margin-top: 0px;
}
.wrapper-content .layui-form-radio i:hover,
.wrapper-content .layui-form-radioed i {
  color: #014da1;
}
.wrapper-content .layui-elem-quote {
  border-left: 5px solid #37c1f0;
}
.wrapper-content .btn-file {
  background-color: #37c1f0;
  border: 1px solid #37c1f0;
}
